/* BANNER SECTION -- 1ST ROW START */
.banner {
    background: #fcfcfc;
    height: 100vh;
    /* CENTER TEXT VERTICALLY */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
}
.banner-text > h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 60px;
    line-height: 0.9;
    letter-spacing: -1px;
    margin-bottom: 0;
}

/* BANNER SECTION BRACKETS PLACEMENT */

.bracket {
    height: 250px;
    position: absolute;
    top: -45px;
}
.bracket > img {
    display: block;
    height: 100%;
}
.bracket-left {
    left: -70px;
}
.bracket-right {
    right: -75px;
}
/* BANNER SECTION -- 1ST ROW END */

/* ABOUT US SECTION -- 2ND ROW START */

.about {
    background: #fcfcfc;
    padding: 150px;
}
.about-text > h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.about-text > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}

/* ABOUT US SECTION -- 2ND ROW END */

/* BENEFITS SECTION & WEBSITE 101 SECTION -- 3RD ROW START */

#benefit_website .section {
    background: #fcfcfc;
    padding: 50px 150px !important;
}
#website {
    margin-bottom: 50px;
}
#benefit_website .section-text {
    background: #fcfcfc;
    padding: 40px !important;
    margin-bottom: 50px;
}
#benefit_website .section-text > h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}
#benefit_website .section-text > p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}
.bt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
#benefit_website .section-list {
    width: 100%;
}
#benefit_website .section-list > a {
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    margin: 5px 5px 5px 0;
}
#benefit_website .section-list > a:active {
    background: #000;
    color: #fff;
}
#benefit_website .section-list > a.active {
    background: #000;
    color: #fff;
}
#benefit_website .section-info {
    position: absolute;
    top: 280px;
    left: 72.5%;
    transform: translate(-50%, -50%);
    clip-path: inset(0 100% 0 100%);
    transition: clip-path 0.5s ease;
}
#benefit_website .section-info > p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    line-height: 1.5;
    font-size: 20px;
}
.open-info {
    clip-path: inset(0 0 0 0) !important;
}

/* BRACKES PLACEMENT WHEN INFO IS NOT VISIBLE */

.info-bracket {
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 20px;
    transform: translate(-50%,50%);
}
.info-bracket > img {
    display: block;
    height: 100%;
}
.info-left {
    left: 70%;
    transition: left 0.5s ease;
}
.info-right {
    right: 20%;
    transition: right 0.5s ease;
}

/* BRACKETS PLACEMENT WHEN INFO IS VISIBLE */

.info-left-active {
    left: 55%;
}
.info-right-active {
    right: 5%;
}

/* BENEFITS SECTION & WEBSITE 101 SECTION -- 3RD ROW END */


.process {
}